* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
header,
menu,
span,
.card {
  display: flex;
}
body {
  flex-direction: column;
  align-items: center;
  background-color: #20170e;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
}

header,
menu {
  align-items: center;
  justify-content: space-around;
}
header {
  font-size: 4rem;
  color: #f3dfa0;
}
header img {
  width: 14.375rem;
}
menu {
  width: 100%;
}
menu a {
  background-color: #f3dfa0;
  color: black;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}
menu span,
.price {
  background-color: #f3dfa0;
  width: 8.125rem;
  justify-items: center;
  border-radius: 1.5rem;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
}
.description {
  font-family: "Roboto Slab", serif;
}
.card {
  align-items: center;
  color: #eaeaea;
  width: 43.125rem;
}
.card img {
  width: 12.5rem;
  height: 11rem;
  margin: 1.5rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11rem;
}
h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.card .like {
  width: 2rem;
  height: 2rem;
}
.price {
  height: 2.3125rem;
  width: 4.6875rem;
  color: #20170e;
}
.likePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section > p {
  text-transform: uppercase;
  color: #f3dfa0;
  font-size: 2.25rem;
}
